<div class="container">
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">D & D & News</h1>
      <hr>
      <p class="lead text-center mb-4">Straight from the Coast</p>
    </div>
    {{#with reply}}
    <div class="row">
      <div class="col">
        <div class="card border-danger mb-3">
          <h1 class="display-4 text-center">Dice Not Included!</h1>
          <a href="/scrape"><button type="button" class="btn btn-block btn-danger">Roll for News</button></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <div class="card border-info mb-3">
          <h1 class="display-4 text-center">The Archive</h1>
          {{#if articles}}
          {{> article articles=articles}}
          {{/if}}
          {{#unless articles}}
          <h3 class="text-center">Document your findings!</h3>
          {{/unless}}
        </div>
      </div>
    </div>
    {{/with}}
    <footer class="footer text-center">
      <a href="/api">List of Articles</a> ||| <a href="https://github.com/dvld/news-scraper">Github Repo</a>
    </footer>
  </div>
</div>